const Bar = () => {
  return (
    <VictoryChart
        domainPadding={ { x: 20 } }
      >
      <VictoryBar
        data={ data }
        style={{
          data: { fill: 'tomato', width: 12 }
        }}
        labels={ (d) => d.frequency }
        labelComponent={<VictoryTooltip/>}
        x="letter"
        y="frequency"
      />
    </VictoryChart>
  )
}
