  draw(data, g, x, y, height) {
    g.append("g")
        .attr("class", "axis axis--x")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x))

    g.append("g")
        .attr("class", "axis axis--y")
        .call(d3.axisLeft(y).ticks(10, "%"))
      .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", "0.71em")
        .attr("text-anchor", "end")
        .text("Frequency")

    g.selectAll(".bar")
      .data(data)
      .enter().append("rect")
        .attr("class", "bar")
        .attr("x", function(d) { return x(d.letter) })
        .attr("y", function(d) { return y(d.frequency) })
        .attr("width", x.bandwidth())
        .attr("height", function(d) { return height - y(d.frequency) })
  }
  render() {
    return (
      <svg height="500" width="960" />
    )
  }
}
