var config = {
  chart: {
    type: 'column'
  }, xAxis: {
    categories: [], // x axis labels,
  },
  series: [{
    data: [], //array of values,
  }]
}

const Bar = () => {
  return (
    <ReactHighcharts config={ config } />
  )
}
